* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }
body{
    width: 100%;height: 100%;background-image: url(mk.jpg) ;background-repeat: no-repeat;background-size: cover;background-position: center center;
}
section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;background-image: url(gb.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    clip-path: circle(0px at center);
}
video{width: 100%;height: 100vh}

.header {
    position: relative;
    margin-top: 150vh;
    background-image: url(bgl.jpg);background-repeat: repeat-y;background-size: cover;width: 100%;height: 100%;
    
}

.header h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.title {
    position: relative;
    top: 250px;
    z-index: 1;
    font-size: 3em;opacity: 0;
    text-align: center;
    width: 100%;
}
.ja{
    margin-bottom: 20px;text-align: center;font-size: 30px;font-weight: bold;padding-top: 20px;background: url(proj.gif);
    width: 400px;height: 70px;-webkit-text-fill-color: transparent;-webkit-background-clip: text;background-clip: text;}
.part{
    column-count: 2;display: flex;justify-content: left;flex-direction: row;max-width: 100%;column-width: 30% 70%;align-items: flex-end;padding-right: 5px;
}
#fontcss{
    text-align: left;
    margin-left: 10px;
    margin-bottom: 30px;font-family: 'Kalpurush', sans-serif;font-size: 20px;color:#BD0143;width: 30%;
     }
     .ty{
         background: white; border-radius: 44px;margin-bottom: 10px;width: 70%;
     }
.bih{
    text-align: justify;
    text-indent: 40px;
    margin-right: 10px;margin-bottom: 40px;
     margin-left: 10px;font-family: 'Kalpurush', sans-serif;font-size: 20px;padding: 5px;
   background: rgba(0, 0, 0, 0.1);border-radius: 7px;color:#BD0143;
}
.gif{
    column-count: 2;display: flex;justify-content: right;flex-direction: row;max-width: 100%;column-width: 70% 30%;align-items: flex-end;
}
img{
    width: 70%;
}
.nibe{
    margin-bottom: 40px;width: 100%;
    text-align: right;font-family: 'Kalpurush', sans-serif;font-size: 20px;color:#BD0143;
    margin-right: 10px;}
    @media screen and (max-width: 479px) {
.nibe{font-size: 16px;}
#fontcss{font-size: 16px;}
}
    h2{
        text-align: center;color:#BD0143;
    ;
    }
    .subh{
        text-align: center;font-size: 20px;color: white;font-weight: bold;margin-bottom: 0;width:170px;height: 28px;border-radius: 47px;background: url(het.gif);
        text-shadow: 1px -1px 0 black;
    }
    .fal {font-family: 'Kalpurush', sans-serif;font-size: 18px;color:#BD0143;}
    .falg {font-family: 'Kalpurush', sans-serif;font-size: 18px;color:#BD0143;}
    .kol{font-family: 'Kalpurush', sans-serif;font-size: 18px;color:#BD0143;}
    .prit{
        text-align: center;font-weight: bold;font-size: 20px;margin-bottom: 19px;width:170px;height: 28px;border-radius: 47px;background: rgba(0, 0, 0, 0.2);
        color:white;text-shadow: 1px -1px 0 #BD0143;
    }
    .sthan{text-align: center;font-weight: bold;font-size: 20px;margin-bottom: 19px;width:100px;height: 28px;border-radius: 47px;background: rgba(0, 0, 0, 0.2);color:white;
    text-shadow: 1px -1px 0 #BD0143;}
    .container{ 
left: 0px;
right: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.countdown{    
    display: flex;
        margin-bottom: 30px;    
}

.countdown div{
    position: relative;background-image: url(utto.gif);
width: 80px;
height: 80px;
line-height: 80px;
text-align: center;

border-radius: 50px;
color: white;
margin: 0 9px;
font-size: 2em;
font-weight: 250;   
}

.countdown div:before{
    content: '';
position: absolute;background-image: url(nams.gif);
bottom: -20px;
left: 0;
width: 100%;
height: 25px;

border-radius: 50px;
color: yellow;
font-weight: bold;
font-size: 0.50em;
line-height: 24px;
font-weight: 300;
}

.countdown #day:before{
    content: 'দিন';
}

.countdown #hour:before{
    content: 'ঘন্টা';
}

.countdown #minute:before{
    content: 'মিনিট';
}

.countdown #second:before{
    content: 'সেকেন্ড';
}
.subh{
    margin-bottom: 20px;
    margin-top: 10px;
}
.wrapper{
display: flex;
justify-content: center;
align-items: center;
height: 70vh;

}
.card{
position: relative;
background: #fff;
width: 300px;
height: 400px;
margin: 0 auto;
}

.card .content{
width: 300px;
padding: 30px;
box-sizing: border-box;
font-weight: bold;
}
.card .chabi{
      width: 90px;
      height: 90px;
      border-radius: 45px;margin: 0 auto;background-color: black;

}
.card .chabi img{
      width: 100%;
      height: 100%;border-radius: 45px
}

.card .sliderText{
position: relative;
width: 100%;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
background: #000;
}
.card .sliderText h3{
color: #fff;
font-size: 2em;
}
.swiper-container {
      width: 300px;
      height: 400px;
          }
.swiper-slide{
background-position: center;
      background-size: cover;
width: 300px;
}

.swiper-slide:nth-child(1) .sliderText{
background-image: url(bybg.gif);
}
.swiper-slide:nth-child(1) .content{
color: #2196f3;font-family: 'Kalpurush', sans-serif;font-size: 18px;
}
.swiper-slide:nth-child(2) .sliderText{
background-image: url(glbg.gif);
}
.swiper-slide:nth-child(2) .content{
color: #e91e63;font-family: 'Kalpurush', sans-serif;font-size: 18px;
}
.swiper-button-prev{
   background-color: rgba(0, 0, 0, 0.3);border-radius: 5px;
}
.swiper-button-next{
    background-color: rgba(0, 0, 0, 0.3);border-radius: 5px;
}
footer{
    width: 100%;
    height: 100px;
    background: grey;
    left: 0;
      right: 0;
      text-align: center;
        }

  footer p{
      text-align: center;
      padding: 10px;
      color: white;
        }  

  footer button{
      width: 130px;
      height: 30px;
      border-radius: 45px; background: url(sig.gif);border: none;letter-spacing: 1.5px;font-weight: bold;font-size: 16px;color: white;         
      }